**
!.dockerignore
!Dockerfile
!LICENSE
!THIRD_PARTY_NOTICES.md
!go.mod
!go.sum
!package.json
!bun.lock
!biome.json
!*.go
!cmd/**
!internal/**
!standalone/**
!web/console/**
!web/src/console/**
!web/src/design/**
!web/src/features/**
!web/src/shared/**
!web/src/vite-env.d.ts
!web/tsconfig.json
!web/vite.console.config.ts
!web/vite.console-chunks.ts
!web/vite.shared.ts
