{
  "openapi": "3.1.0",
  "info": {
    "title": "ProtoPeek public documentation resources",
    "version": "0.6.1",
    "description": "Read-only documentation and discovery resources for ProtoPeek. The workbench runs locally; this website does not expose a hosted service proxy or remote MCP transport."
  },
  "servers": [{ "url": "https://protopeek.shreyam1008.com.np" }],
  "paths": {
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsIndex",
        "summary": "Get the agent-readable ProtoPeek guide",
        "responses": {
          "200": {
            "description": "Markdown guide",
            "content": { "text/markdown": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/docs/": {
      "get": {
        "operationId": "getDocumentationHub",
        "summary": "Get ProtoPeek guides",
        "responses": {
          "200": {
            "description": "Documentation hub",
            "content": { "text/html": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/ai-agents/": {
      "get": {
        "operationId": "getAgentGuide",
        "summary": "Get local agent integration guidance",
        "responses": {
          "200": {
            "description": "Agent integration guide",
            "content": { "text/html": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "operationId": "getAgentSkills",
        "summary": "Get the ProtoPeek Agent Skills index",
        "responses": {
          "200": {
            "description": "Agent Skills index",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "operationId": "getMcpServerCard",
        "summary": "Get ProtoPeek's local agent card",
        "responses": {
          "200": {
            "description": "MCP discovery card",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    }
  }
}
